* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

#sky img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

    animation: bodyupdown 1s linear infinite alternate;
}

#tree img {
    position: absolute;
    top: 2%;
    left: 0%;
    width: 100%;
    height: 60%;
    z-index: 2;
    animation: bodyupdown 1s linear infinite alternate;
}

#track img {
    position: absolute;
    top: 55%;
    left: 0%;
    width: 1000%;
    height: 50%;
    z-index: 1;
    animation: trackmove .2s linear infinite;
}

.car {
    position: absolute;
    /* border: 2px solid red; */
    top: 70vh;
    left: 23%;
    width: 35vw;
    height: 10vw;
    z-index: 2;
}

#car {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 90%;
    animation: carupdown 1s linear infinite alternate;
}

#frontwheel {
    position: absolute;
    top: 30%;
    left: 12%;
    width: 19%;
    height: 70%;
    animation: carwheelrotation .1s linear infinite;
}

#backwheel {
    position: absolute;
    top: 37%;
    left: 63%;
    width: 17%;
    height: 61%;
    animation: carwheelrotation .1s linear infinite;
}

@keyframes carwheelrotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(260deg);
    }
}

@keyframes trackmove {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-50vw)
    }
}

@keyframes carupdown {
    0% {
        transform: translateY(-.3vw);
    }

    50% {
        transform: translateY(0vw)
    }

    100% {
        transform: translateY(.3vw)
    }
}

@keyframes bodyupdown {
    from {
        transform: translateY(-5%);
    }

    to {
        transform: translateY(0%)
    }
}

audio {
    z-index: 4;
    position: absolute;
    left: 30%;
    top: 50%;
}